setup.wizard.enabled=false

liferay.home={{liferay_home}}

jdbc.default.driverClassName=org.postgresql.Driver
jdbc.default.url=jdbc:postgresql://localhost:5432/lportal
jdbc.default.username={{liferay_db_user}}
jdbc.default.password={{liferay_db_password}}